.page-content {
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    grid-column-gap: 4px;
    background-color: #34AB01;
}

.page-content > * {
    grid-column: 2;
    min-width: 0;
    
}

header {
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    padding: 4em;
    background-color: black;
    color: white;
    margin-bottom: 1em;
}

footer{
    padding: 2.5em;
    background-color: black;
    color: white;
}

.btn {
    background-color: #8d8b8e !important;
    padding: 0.7em !important;
    font-size: 2.5em !important;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    -webkit-box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.75);
    margin: 1em;
}

.btn:hover {
    background-color: #a8a5aa !important;
}

.alphabets-btns, .submit-btns, .input-field {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.submit-btns {
    align-items: center;
}

.user-input {
    margin: 2em;
    width: 600px !important;
    height: 3em;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;    
    font-size: 2em !important;
    font-weight: bold !important;
}

.alert {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding: 0.7em !important;    
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

